* {box-sizing: border-box;}

html, body {width: 100%; height: 100%;}
body {background-color: #020d10; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #ffffff;}

a {text-decoration: none; transition: all ease-in-out .2s; padding: 2px;}
a, a:hover, a:focus, a:visited, a:active {color: #ffffff;}
a:hover, a:focus {text-decoration: none; background-color: cyan; color: #020d10; padding: 0 4px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Lobster', cursive; letter-spacing: .1em; color: #ffffff;}
h3 {font-weight: 600; font-size: 18px; letter-spacing: -.015rem;}

ul, ol {list-style: none; padding: 0; margin: 0;}
img {width: 100%; height: auto; display: inline-block; margin: 0 auto;}
p {line-height: 1.5; letter-spacing: .015rem;}

header, main, footer {text-align: center;}

.lead {font-size: 18px; letter-spacing: -.015rem;}

.wrapper {width: 100%; margin: 0 auto;}

.clearfix::after {content: ''; display: table; clear: both;}

.container {width: 100%; max-width: 965px; margin: 0 auto;}

nav > ul {list-style: none;}
nav li + li {margin-top: 5px;}
nav li, nav a {display: block;}
nav a {font-weight: 700; text-transform: uppercase;}

.nav-top a {padding: 15px; background-color: transparent; color: #ffffff;}
.nav-top a:hover {background-color: cyan; color: #020d10;}
.nav-bottom {float: right;}
.nav-bottom li {margin-top: 0;}
.nav-bottom li + li {margin-left: 30px;}
.nav-bottom a {color: #ffffff; font-size: 12px;}
.nav-bottom a:hover, .nav-bottom a:focus {color: #020d10;}

.link-contact {font-weight: 700; margin-left: 7px;}

.visible-sm {display: inline-block;}
.hidden-sm {display: none;}

.section {padding: 15px;}
.section-heading {font-size: 14px; margin: 0 0 40px 0; text-transform: uppercase;}

header .section {padding: 0 15px; margin-bottom: 40px;}
header h1 {letter-spacing: normal;}
.section-profile img {max-width: 200px;}

.section-portfolio {padding: 50px 15px; background-color: rgba(255,255,255,.1);}
.portfolio-item {margin: 0 0 10px 0;}
.portfolio-item h3 {margin-top: 37px;}
.portfolio-item + .portfolio-item {margin-top: 40px;}

.section-skills {position: relative; padding: 50px 15px;}
.section-skills li {font-style: italic; opacity: .7;}
.section-skills li + li {margin-top: 7px;}
.section-skills::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.section-contact {padding: 50px 15px;}

.section-footer {padding: 0 15px 30px 15px;}
.section-footer hr {margin: 0px 0 30px 0;}
.section-footer h5 {float: left; margin: 0; font-size: 14px;}


@media (min-width: 768px) {
    /* Tablet view styles */
    .visible-sm {display: none;}
.hidden-sm {display: inline-block;}

header .section {margin-bottom: 60px; padding: 0 30px;}
.section-nav h1 {margin-top: 60px;}
.nav-top li {display: inline-block;}
.nav-top a {background-color: transparent;}

.section-heading {margin: 0 0 10px 0;}

.section-profile .lead {text-align: left; font-size: 18px;}
.section-profile img {max-width: 300px; float: right; margin-left: 5%;}

.section-portfolio {padding: 50px 30px;}
.portfolio-item {margin: 40px 1% 10px 1%; float: left; width: 48%;}

.section-skills {padding: 60px 15px;}

.section-contact {padding: 50px 18%;}
.section-contact p {font-size: 18px;}
.section-contact p+ p {margin-top: 30px;}
.section-contact .lead, .section-skills .lead {margin: 50px 0;}

.section-footer {padding: 0 30px 30px 30px;}
}

@media (min-width: 1024px) {
    /* Desktop view styles */

    .section-nav {margin: 60px 0;}
    .section-nav h1 {float: left; margin-top: 10px;}
    .nav-top {float: right;}

    .section-profile img {max-width: 400px;}

    .portfolio-item {margin: 40px 1% 10px 1%; float: left; width: 31%;}

    .section-skills {padding: 60px 30px;}

    .section-contact {padding: 50px 24%;}
}